<<<<<<< HEAD
<p id="notice"<%= notice %></p>

<h1 style="color: white;">Comments</h1>

<table style="color: white;">
=======
<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table>
>>>>>>> 56d0a17c5bc229ad199dd81940324efeb5a05171
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.title %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
