<h1 class="center" style="color:white !important; margin-top: 2rem;">Cursos inscritos</h1>
<h6 class="center" style="color:white !important;">Total: <%= @inscritos_count %></h6>

<table class="table table-dark">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">NRC</th>
			<th scope="col">Nombre</th>
		</tr>
	</thead>
	<tbody>
		<% @teacher_courses.each do |course| %>
			<tr>
				<th scope="row"><%= course.id %></th>
				<td><%= course.nrc %></td>
				<td><%= course.name %></td>
				<td><%= link_to 'Ver', course, class: "btn btn-primary" %></td>
			</tr>
		<% end %>
  </tbody>
</table>