<!-- Mi perfil de Profesor / Cursos impartidos y evaluaciones de ellos -->
<h1 class="center" style="color:white !important; margin-top: 2rem;"><b style="color:gold">Profesor:</b> <%= @teacher_name %> <%= @teacher_lastname %></h1>

<div class="card pr-2 pl-2 pt-3 pb-3">
  <div class="col-md-4">
    <h3>Correo electrónico</h3>
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <%= @teacher_email %> 
    </div>
  </div>
</div>

<div class="card pr-2 pl-2 pt-3 pb-3">
  <div class="col-md-6">
    <h3>Cursos dictados del período</h3>
  </div>
  <div class="col-md-6">
    <div class="card-body">
      <u><b>NRC</b> | Nombre curso</u>
      <br>
    	<% @teacher_courses.each do |i, course_nrc, course_name| %>
				<b><%= course_nrc %></b> | <%= course_name %> | <%= link_to 'Ver curso', course_path(i) %>
        <br>
			<% end %>
    </div>
  </div>
</div>

<%- if is_student? %>
  <div class="card pr-2 pl-2 pt-3">
    <div class="col-md-4">
      <h3>Evaluaciones</h3>
    </div>
    <div class="col-md-12">
      <div class="card-body">
        <h3 class="score">★ <b style="color:black"><%= @evaluation_avg %> es la evaluación promedio de este profesor</b></h3>
      </div>
    </div>
    <div class="container divider mb-3">
      <%= render @user.teacher_comments %>
    </div>
  </div>

  <div class="container bg-white mt-3 mb5 divider">
    <h3 class='darko pt-2 label-title'>Comentar</h3>
    <div class="comment-form mt-4 pb-3">
      <%= render 'teacher_comments/form', teacher_comment: @teacher_comment %>
    </div>
  </div>
<% else %>
  <div class="card pr-2 pl-2 pt-3 mb-5">
    <div class="col-md-4">
      <h3>Evaluaciones</h3>
    </div>
    <div class="col-md-12">
      <div class="card-body">
        <% @teacher_evaluations.each do |evaluation, user| %>
          <h3 class="score">★ <b style="color:black"><%= evaluation %> - <%= User.find(user.to_i).email %></b></h3>
        <% end %>
      </div>
    </div>
    <div class="container divider mb-3">
      <%= render @user.teacher_comments %>
    </div>    
  </div>
<% end %>