<% if teacher_signed_in? %>
	<h1>Bienvenido Profesor/a <%= current_teacher.nombre%></h1>
	<body>
		<h3>Información personal del Profesor</h3>
		<p>Nombre: <%= current_teacher.nombre%> <%= current_teacher.apellido_paterno%> <%=current_teacher.apellido_materno%><p>
			<p>Rut: <%= current_teacher.rut %></p>
			<p>Email: <%= current_teacher.email %></p>
			<p>Situacion Actual: Docente</p>
	<%else%>
	<% if estudiante_signed_in? %>
		<h1>Bienvenido <%= current_estudiante.nombre%> </h1>
		<body>
			<h3>Información personal del alumno</h3>
			<p>Nombre: <%= current_estudiante.nombre%> <%= current_estudiante.apellido_paterno%> <%=current_estudiante.apellido_materno%><p>
			<p>Rut: <%= current_estudiante.rut %></p>
			<p>Email: <%= current_estudiante.email %></p>
			<p>Situacion Actual: Estudiante</p>


		<%else%>
			<h1>Bienvenido a la plataforma de feedback</h1>
			<p>Si eres un Alumno, registrate o inicia sesión y podras dejar tu calificacion y opinion a los profesores de los ramos que tengas inscritos</p>
			<p>Si eres un Profesor, registrate o inicia sesión y podras saber tu evaluacion como docente en los ramos dictados</p>
	<% end %>
<% end %> 
<h1>Bienvenido a la plataforma de feedback</h1>
<p>Si eres un Alumno, registrate o inicia sesión y podras dejar tu calificacion y opinion a los profesores de los ramos que tengas inscritos</p>
<p>Si eres un Profesor, registrate o inicia sesión y podras saber tu evaluacion como docente en los ramos dictados</p>
