
<% if teacher_signed_in? %>
	<h1>Bienvenido teacher/a <%= current_teacher.nombre%></h1>
	<body>
		<h3>Informaci贸n personal del teacher</h3>
		<p>Nombre: <%= current_teacher.nombre%> <%= current_teacher.apellido_paterno%> <%=current_teacher.apellido_materno%><p>
			<p>Rut: <%= current_teacher.rut %></p>
			<p>Email: <%= current_teacher.email %></p>
			<p>Situacion Actual: Docente</p>
	<%else%>
	<% if student_signed_in? %>
		<h1>Bienvenido <%= current_student.nombre%> </h1>
		<body>
			<h3>Informaci贸n personal del alumno</h3>
			<p>Nombre: <%= current_student.nombre%> <%= current_student.apellido_paterno%> <%=current_student.apellido_materno%><p>
			<p>Rut: <%= current_student.rut %></p>
			<p>Email: <%= current_student.email %></p>
			<p>Situacion Actual: Estudiante</p>


		<%else%>
			<h1>Bienvenido a la plataforma de feedback</h1>
			<p>Si eres un Alumno, registrate o inicia sesi贸n y podras dejar tu calificacion y opinion a los teacheres de los ramos que tengas inscritos</p>
			<p>Si eres un teacher, registrate o inicia sesi贸n y podras saber tu evaluacion como docente en los ramos dictados</p>
	<% end %>
<% end %>