<p id="notice"><%= notice %></p>

<p>
  <strong>Run:</strong>
  <%= @teacher.run %>
</p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @teacher.last_name %>
</p>

<p>
  <strong>Born:</strong>
  <%= @teacher.born %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
