<p id="notice"><%= notice %></p>

<<<<<<< HEAD
<p style="color: white;">
=======
<p>
>>>>>>> 56d0a17c5bc229ad199dd81940324efeb5a05171
  <strong>Nrc:</strong>
  <%= @course.nrc %>
</p>

<<<<<<< HEAD
<p style="color: white;">
=======
<p>
>>>>>>> 56d0a17c5bc229ad199dd81940324efeb5a05171
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
