<p id="notice"><%= notice %></p>

<p style="color: white;">
  <strong>Nrc:</strong>
  <%= @course.nrc %>
</p>

<p style="color: white;">
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
